<div class="container">
    <div class="card text-white bg-primary m-1">
        <div class="card-header p-1">Queue</div>
        <div class="card-body">
            <div id='patient' class="card">
                <div class="queue card-body d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                        <h5 class="m-1 text-dark">Current patient: </h5>
                        <h2 class="m-2 text-info" id='currentInQueue' name='currentInQueue'>
                            <%= currentPatient ? currentPatient : 'No patients in the queue' %>
                        </h2>
                    </div>
                    <div class="input__patient d-flex flex-column">
                        <form action="/queue/add" method="POST">
                            <div class="form-group has-success">
                                <input type="text" placeholder="Name: reason" class="form-control" name="newPatient"
                                    id="newPatient" size="55" required />
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <button type="submit" id="addPatient" class="btn btn-success mt-2">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="search card-body d-flex justify-content-center align-items-start">
                    <div class="form-group m-1">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <span class="input-group-text"></span>
                                <input type="text" id="searchResolution" class="form-control" />
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-1">
                        <textarea class="form-control" id="queueResolution" rows="3" cols="80" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>