<!DOCTYPE html>
<html lang="en">

<%- include('./components/head/head.ejs') %>

    <body>
        <%- include ('./components/error/error.ejs') %>
        <%- include('./components/main/main.ejs') %>
        <div id="scripts"></div>
        <script type="module" src="/src/index.js"></script>
    </body>

</html>