extends base

block content
  .page-wrap.d-flex.flex-row.align-items-center
    .container-fluid.p-3.m-4
      .display-5.my-3 Available doctors:
      .list-group.my-4(style='height: 400px; overflow-y: auto')
        -if (doctors.length !== 0)
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Specialization
                if user
                  -if (user['roles.title'] === 'patient')
                    th(scope='col') Queue Link
            tbody
              each doctor in doctors
                tr
                  th(scope='row')=doctor.id
                  td=doctor.name
                  td=doctor['specializations.title']
                  if user
                    -if (user['roles.title'] === 'patient')
                      td
                        a(href=`/doctor-${doctor.id}`) link

        -else 
          small There are no doctors online.