<div class="container">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="menu" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                        type="button" role="tab" aria-controls="login" aria-selected="true">Log in</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup"
                        type="button" role="tab" aria-controls="signup" aria-selected="false">Sign up</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="doctor-tab" data-bs-toggle="tab" data-bs-target="#doctor"
                        type="button" role="tab" aria-controls="doctor" aria-selected="false">Doctor page</button>
                </li>
            </ul>
        </div>
        <div class="tab-content main" id="menuContent">           
        </div>
    </div>
</div>